<<<<<<< HEAD
#setting-error-tgmpa { display: block;}
.redux-notice,
.display-none {display: none;}
.highlight-redux {color:#0073aa;font-weight: 700;}
.theme-actions {display: none;}
=======
#setting-error-tgmpa {
  display: block;
}
.redux-notice,
.display-none,
.rAds,
.wbc_importer .theme-actions,
.wrap-importer .theme-actions {
  display: none !important;
}
.highlight-redux {
  color: #0073aa;
  font-weight: 700;
}

>>>>>>> 5959d6fe8a847ccb8ed5022012c2d27dac3357f3
